*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
:root{
  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-grey: hsl(0, 0%, 12%);
  --Off-black: hsl(0, 0%, 8%);
}